<footer class="bg-light text-center text-lg-start mt-5">
  <div class="container p-2">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="text-uppercase">Coder</h5>
        <p>Luyện thuật toán, chuẩn bị thi lập trình chuyên nghiệp.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Liên hệ</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark">Github</a></li>
          <li><a href="#" class="text-dark">Email</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Hỗ trợ</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark">FAQ</a></li>
          <li><a href="#" class="text-dark">Liên hệ hỗ trợ</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-2 bg-dark text-white">
    © 2025 CodePractice. All rights reserved.
  </div>
</footer>
