<div class="container my-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="assets/blank-profile-picture.webp" class="rounded-circle mb-3" width="150" alt="Avatar">
      <h3>Hoàng Thu Phương</h3>
      <button class="btn btn-outline-primary mt-2">Chỉnh sửa hồ sơ</button>
    </div>

    <div class="col-md-8">
      <h4>Thông tin cá nhân</h4>
      <table class="table">
        <tbody>
          <tr>
            <th>Email:</th>
            <td>phuongcoder&#64;gmail.com</td>
          </tr>
          <tr>
            <th>Số bài đã nộp:</th>
            <td>128</td>
          </tr>
          <tr>
            <th>Số bài đúng:</th>
            <td>115</td>
          </tr>
          <tr>
            <th>Điểm tổng:</th>
            <td>2300</td>
          </tr>
          <tr>
            <th>Xếp hạng:</th>
            <td>Top 3</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
